$beige: rgb(247, 242, 222);
$orange: rgb(240, 90, 40);
$orange-dark: rgb(226, 68, 15);
$brown-light: rgb(138, 93, 59);
$brown-medium: rgb(117, 76, 40);
$brown-dark: rgb(59, 35, 20);

$fonts-brand: "Fredoka One", "Helvetica", sans-serif;
$fonts-body: "Helvetica", sans-serif;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 230px;
  background-color: $beige;
  transition: 0.4s;
  z-index: 100;
}

#header-wrapper {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

#header-img {
  margin: 25px 25px 0px 25px;
  transition:  0.4s; // all ?
}

.logo-sm {
 width: 125px;
}

.logo-lg {
 width: 250px;
}

// Navigation - see Notes 1)
#nav-bar {
  height: auto;
  width: 100%;
  // border: 1px solid red;

  ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
    transition: all 0.4s;
    // border: 1px solid black;

    li {
      float: left;

      a {
        padding: 0;
        margin: 0;
        display: block;
        font-family: $fonts-brand;
        font-size: 1.3em;
        text-decoration: none;
        color: $orange;

        &:hover {
          color: $brown-light;
          cursor: pointer;
        }
      }
    }
  }
}

main {
  margin: 0 auto;
  margin-top: 225px;
  padding: 25px;
  max-width: 768px;
}

section {
  margin: 50px 0;
}

button, #submit {
  appearance: none;
  display: block;
  height: 35px;
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: $fonts-brand;
  font-size: 1.2em;
  letter-spacing: .025em;
  color: #fff;
  border: none;
  border-radius: 7px;

  &:hover {
    cursor: pointer;
  }
}

form {
  padding: 15px;
  margin-bottom: 40px;
  background-color: $brown-light;
  border: 2px outset $brown-dark;
  border-radius: 7px;

  #email {
    display: block;
    width: 85%;
    height: 30px;
    margin: 0 auto;
    padding-left: 10px;
    font-size: .8em;
    border-radius: 7px;
  }

  #submit {
    background: $orange;

    &:hover {
      background: $orange-dark;
    }
  }
}

.icon {
  position: relative;
  top: 5px;
  float: left;
  margin: 0 20px 20px 0;
}

a {
  color: $brown-light;
  text-decoration: none;

  &:hover {
    color: $brown-dark
  }
}

h1, h2, h3 {
  font-family: $fonts-brand;
}
h4, h5, h6, li {
  font-family: $fonts-body
}

h1 {
  color: #fff;
  margin: 0 0 15px;
  font-size: 1.5em;
  letter-spacing: .025em;
  text-align: center;
}

h2 {
  color: $orange;
  font-size: 1.4em;
  margin-bottom: 15px;

  // See Notes 2)
  &::before {
    display: block;
    content: " ";
    margin-top: -175px;
    height: 175px;
    visibility: hidden;
    pointer-events: none;
  }
}

#products-header {
  margin-bottom: -25px;
}

h3 {
  color: $orange;
  font-size: 1em;
  margin: 20px 0 10px;
}

p {
  font-family: $fonts-body;
  font-size: 18px;
  line-height: 24px;
}

#products {
  .product {
    background-color: $beige;
    border: 1px solid $brown-light;

    h4 {
      margin: 0;
      padding: 15px 25px;
      width: 100%;
      font-size: 1.2em;
      color: #fff;
      background-color: $orange;
    }

    h5, li {
      color: $brown-medium;
      font-size: 1em;
      line-height: 1.5em;
    }

    h5 {
      padding: 20px 25px 10px;
      font-weight: normal;
    }

    li {
      margin-left: 50px;
    }

    #select {
      background: $brown-light;
      margin-top: 0;
      margin-bottom: 25px;

      &:hover {
        background: $brown-medium;
      }
    }
  }

  // Responsive iframe - See Notes 3)
  .video {
    margin: 15px 0 20px;
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;

    iframe {
      padding: 15px 25px 15px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

// FAQ accordion - see Notes 4)
.accordion {
  background-color: $brown-light;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0 15px;
  width: 100%;
  border: 1px solid $brown-dark;
  border-radius: 0;
  text-align: left;
  outline: none;
  font-family: $fonts-body;
  font-size: 1em;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: $brown-medium;
}

.panel {
  padding: 0 25px;
  background-color: $beige;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  p {
    margin: 20px 0;
  }
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: auto;
  height: auto;
  background-color: $beige;

  h6, h6 a {
    font-family: $fonts-body;
    font-size: .7rem;
    text-align: center;
    max-width: 768px;
  }

  h6 {
    padding: 25px 50px;
  }
}

// Media queries
@media (min-width: 576px) {
  #header-img {
    margin-top: 40px;
  }

  #nav-bar {
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 50%;
  }
}

// @media (min-width: 768px) { }

// ***** Notes *****
// 1) Shrinkable scrolling navbar code modified from:
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_shrink_scroll

// 2) Fixed header throws off inline anchor links. To fix this a pseudo-element is used to manipulate the space taken by the header. Reference:
// https://css-tricks.com/hash-tag-links-padding/

// 3) Responsive iframe needs a parent (position: relative) and child (position: absolute). The parent has intrinsic video aspect ratio. The child element is set at 100% of parent. Reference:
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
// https://stackoverflow.com/questions/43954836/disabling-blackbars-on-youtube-embed-iframe

// 4) Accordion code modified from:
// https://www.w3schools.com/howto/howto_js_accordion.asp
